<!DOCTYPE html>

<html ng-app="questionApp">
<head>
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/angular-resource.min.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/controllers/questionsController.js"></script>
    <script src="~/Scripts/app/services/questionsService.js"></script>
    <meta name="viewport" content="width=device-width" charset="utf-8" />

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Questionnaire</title>


</head>
<body>
    <div class="container container-fluid">
        @RenderBody()
    </div>
</body>

</html>
